

{% extends 'base.html' %}



{% block content %}



<button type='button' class='btn btn-default' data-toggle='modal' data-target='#delbox'>Add New Categoryn</button>

{% for object in object_list %}
<p> {{object.id}} -- {{object.name}} </p>
{% endfor %}

{% endblock %}


{% block modal_title %} 
Hell
{% endblock %}

{% block modal_body %} 
<!--form method='POST' action='/foodcategory/add/'--!>
{{ form.as_p }}
<input type='hidden'>{% csrf_token %}
<button id='submit' class='btn btn-default' type='submit'  >save</button>

<script >
    $('#submit').click(
    function (){
        $.ajax({
            async:true,
            url:'/foodcategory/add/',
            type:'POST',
            data:{
                 name:$('#id_name').val(),
                 csrfmiddlewaretoken:$("input[name='csrfmiddlewaretoken']").val()
            },
            success:function(json){
                console.log(json);
                $('#delbox').modal('toggle');
            },
            error:function(x,y,z){
                console.log(x);
                console.log(y);
                console.log(z);}
        }
    );})
</script>

{% endblock %}

{% block modal_okbtn %} 
{% endblock %}




